@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500&display=swap');

body {
    background-color: thistle;
    font-family: 'Mitr', sans-serif;
}

h1 {
    text-align: center;
    font-size: 6vw;
    margin: 20px;
    letter-spacing: 4px;
}

h2 {
    text-align: center;
    color: rgb(73, 46, 20);
}

p {
    font-weight: 400;
}

h4 {
    font-weight: 500;
}

.port {
    text-shadow: 2px 2px rgb(230, 250, 255);
}

#container {
    width: 70%;
    background-color: aliceblue;
    margin: 30px auto 20px auto;
    border-radius: 10px;
    padding: 5px 20px;
}


#motto {
    text-align: center;
    font-style: italic;
    color: rgb(97, 97, 97);
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#contact img {
    width: 40px;
    margin: 0px 10px 20px 0px;
}

#profile_image {
    display: block;
    margin: auto;
}

#accpic {
    display: block;
    height: 190px;
    padding: 1px;
    align-items: right;
}

#table {
    width: 100%;
    text-align: center;
}

a {
    color: rgb(44, 84, 44);
    background-color: transparent;
    text-decoration: none;
    font-size: large;
  }


